In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
# Instalar dependÃªncia (em notebooks Jupyter use a mÃ¡gica %pip)
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
# Carregar dados: use um raw string (r'...') ou escape as barras corretamente.
df = pd.read_csv(r'C:\Users\Lenovo\Downloads\Coffe_sales.csv')

print("âœ… Dados carregados com sucesso!")
df.head()

âœ… Dados carregados com sucesso!

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   object
 10  Time         3547 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 304.9+ KB

In [ ]:
# Identificar valores ausentes e duplicados
print("\nValores ausentes por coluna:")
print(df.isnull().sum())

Valores ausentes por coluna:
hour_of_day    0
cash_type      0
money          0
coffee_name    0
Time_of_Day    0
Weekday        0
Month_name     0
Weekdaysort    0
Monthsort      0
Date           0
Time           0
dtype: int64

In [ ]:
# Padronizar nomes das colunas
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# ConversÃµes comuns de tipos
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [ ]:
# Exemplo de limpeza de outliers em valores de vendas
df = df[df['money'] > 0]

,hour_of_day,cash_type,money,coffee_name,time_of_day,weekday,month_name,weekdaysort,monthsort,date,time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

In [ ]:
df.info()#  KPIs principais (exemplos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   time_of_day  3547 non-null   object
 5   weekday      3547 non-null   object
 6   month_name   3547 non-null   object
 7   weekdaysort  3547 non-null   int64
 8   monthsort    3547 non-null   int64
 9   date         3547 non-null   datetime64[ns]
 10  time         3547 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 304.9+ KB

In [ ]:
#  Criar coluna de valor total, se nÃ£o existir
if 'money' not in df.columns:
    df['money'] = df['quantity'] * df['unit_price']

In [29]:
#EXIBIÃ‡ÃƒO DOS RESULTADOS
print("\n--- KPIs PRINCIPAIS ---")
print(f"ðŸ’° Receita Total: R$ {total_vendas:,.2f}")
print(f"ðŸ§¾ Ticket MÃ©dio: R$ {ticket_medio:,.2f}")
print(f"ðŸ“Š Quantidade de Vendas: {qtd_vendas:,}")

if vendas_por_categoria is not None:
    print("\nâ˜• Vendas por Categoria:\n", vendas_por_categoria)

if vendas_por_mes is not None:
    print("\nðŸ“… Vendas Mensais:\n", vendas_por_mes)

--- KPIs PRINCIPAIS ---
ðŸ’° Receita Total: R$ 112,245.58
ðŸ§¾ Ticket MÃ©dio: R$ 31.65
ðŸ“Š Quantidade de Vendas: 3,547

â˜• Vendas por Categoria:
 coffee_name
Latte                  26875.30
Americano with Milk    24751.12
Cappuccino             17439.14
Americano              14650.26
Hot Chocolate           9933.46
Cocoa                   8521.16
Cortado                 7384.86
Espresso                2690.28
Name: money, dtype: float64

ðŸ“… Vendas Mensais:
 date
2024-03     5905.20
2024-04     5719.56
2024-05     8164.42
2024-06     7617.76
2024-07     6915.94
2024-08     7613.84
2024-09     9988.64
2024-10    13891.16
2024-11     8590.54
2024-12     8237.74
2025-01     6398.86
2025-02    13215.48
2025-03     9986.44
Freq: M, Name: money, dtype: float64